

<section class="container mx-auto px-4 flex flex-row flex-wrap flex-center" id="reviews">
<div class="flex-none px-2 md:w-3/12  sm:w-full">
<div class="bg-white-400 py-2 flex items-center justify-center w-full h-full">
<div class="bg-white rounded-lg shadow-2xl w-full h-full">
<div class="bg-gray-100 rounded-t-lg p-2 text-lg font-bold">
<h2>Reviews and Rating{{venue.review}} </h2>
<div id="rating"></div>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<ul id= "user-info">
<li>Username</li>
<li>Text</li>
<li>Features/#tags</li>
</ul>
</div>
</div>
</div>
</div>
</section>

