
<div class="flex space-x-4">
<div class ="bg-white-400 py-24 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-2xl">
    <header class="bg-gray-100 rounded-t-lg py-3 px-8 text-xl font-extrabold">
        Birthday Theme
        <img src="https://images.pexels.com/photos/369267/pexels-photo-369267.jpeg?cs=srgb&dl=pexels-markus-spiske-369267.jpg&fm=jpg" class="rounded-t-lg h-60 object-cover"/>
    </header>
  
    <h2 class="text-xl extrabold mb-5"></h2>
    <div class="p-8"><p> Lorem ipsum</p>
    <button class= "bg-blue-400 text-blue-50 rounded-lg py2 px-4 mt-5"  id="birthday"> My Venue</button>
    <footer class="text-right py-3 px-8 text-sm text-purple-500"></footer>
    </div>
</div>
</div>

<div class="flex space-x-4">
<div class ="bg-white-400 py-24 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-2xl">
    <header class="bg-gray-100 rounded-t-lg py-3 px-8 text-xl font-extrabold">
        Wedding Theme
        <img src="https://images.pexels.com/photos/10070153/pexels-photo-10070153.jpeg?cs=srgb&dl=pexels-yaroslava-borz-10070153.jpg&fm=jpg" class="rounded-t-lg h-60 object-cover"/>
    </header>
  
    <h2 class="text-xl extrabold mb-5"></h2>
    <div class="p-8"><p> Lorem ipsum</p>
    <button class= "bg-blue-400 text-blue-50 rounded-lg py2 px-4 mt-5"  id="wedding"> My Venue</button>
    <footer class="text-right py-3 px-8 text-sm text-purple-500"></footer>
    </div>
</div>
</div>

<div class="flex space-x-4">
<div class ="bg-white-400 py-24 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-2xl">
    <header class="bg-gray-100 rounded-t-lg py-3 px-8 text-xl font-extrabold">
      Graduation Theme
        <img src="https://images.pexels.com/photos/8177957/pexels-photo-8177957.jpeg?cs=srgb&dl=pexels-olya-kobruseva-8177957.jpg&fm=jpg" class="rounded-t-lg h-60 object-cover"/>
    </header>
  
    <h2 class="text-xl extrabold mb-5"></h2>
    <div class="p-8"><p> Lorem ipsum</p>
    <button class= "bg-blue-400 text-blue-50 rounded-lg py2 px-4 mt-5"  id="graduation"> My Venue</button>
    <footer class="text-right py-3 px-8 text-sm text-purple-500"></footer>
    </div>
</div>
</div>

<div class="flex space-x-4">
<div class ="bg-white-400 py-24 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-2xl">
    <header class="bg-gray-100 rounded-t-lg py-3 px-8 text-xl font-extrabold">
        Babyshower Theme
        <img src="https://images.pexels.com/photos/1682462/pexels-photo-1682462.jpeg?cs=srgb&dl=pexels-vidal-balielo-jr-1682462.jpg&fm=jpg" class="rounded-t-lg h-60 object-cover"/>
    </header>
  
    <h2 class="text-xl extrabold mb-5"></h2>
    <div class="p-8"><p> Lorem ipsum</p>
    <button class= "bg-blue-400 text-blue-50 rounded-lg py2 px-4 mt-5"  id="babyshower"> My Venue</button>
    <footer class="text-right py-3 px-8 text-sm text-purple-500"></footer>
    </div>
</div>
</div>












