<section class="row">
  <div id="nameTitle" class="col s12 teal lighten-2 white-text">
    <h2 class="center-align">Unearthly Venues</h2>
    <p class="center-align">Supernaturally Good Prices</p>
  </div>
</section>
<section class="container">
  <div class="row">
    <h3 class="center-align">Featured Venues!</h3>
  </div>
  <div class="row">
    {{#each venues as |venue|}}
    <div class="col s12 m6 l4">
      <div class="card hoverable blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Venue 1</span>
          <p>lorem epsum.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
<section class="row">
  <div id="nameTitle" class="col s12 teal darken-4-2 white-text">
    <h3 class="center-align">Find venues in your city!</h3>
    <p class="center-align"></p>
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
</section>