<div class="splide">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide"> <img src="/images/castle.jpg" class="object-center" alt="castle"></li>
			<li class="splide__slide"><img src="/images/misty.jpg" class="object-center" alt="mansion with mist"></li>
			<li class="splide__slide"><img src="/images/On_a_hill.jpg" class="object-center" alt="mansion on hill"></li>
		</ul>
  </div>
</div>





{{!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/castle.jpg" class="d-block w-100" alt="castle">
    </div>
    <div class="carousel-item">
      <img src="/images/misty.jpg" class="d-block w-100" alt="mansion with mist">
    </div>
    <div class="carousel-item">
      <img src="/images/On_a_hill.jpg" class="d-block w-100" alt="mansion on hill">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> --}}








<section class="container mx-auto px-4 flex flex-row flex-wrap">
    {{#each venues as |venue|}}
    <div class="flex-none px-2 md:w-3/12  sm:w-full">
        <div class="bg-white-400 py-2 flex items-center justify-center w-full h-full">
            <div class="bg-white rounded-lg shadow-2xl w-full h-full">
                <header class="bg-gray-100 rounded-t-lg p-2 text-xl font-extrabold">
                    <h2>{{venue.location}}</h2>
                </header>
                <div class="p-2">
                    <p>{{venue.description}}</p>
                    <a class="bg-blue-400 text-blue-50 rounded-lg py-2 px-4 mt-5" href="/venues/{{venue.id}}"> My Venue</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>
<section class="bg-green text-white">
  <div class="py-2">
    <h3 class="text-center text-3xl">Find venues in your city!</h3>
  </div>

  <div class="container mx-auto">
    <div class="flex flex-row justify-center">
      <div class="">
        <form class="d-flex mb-2" id='homeSearchForm'>
          <input class="rounded-lg shadow-2xl text-2xl py-2 px-4 text-black" type="search" placeholder="Autocomplete TDB" aria-label="Search" id='homeSearchInput'>
          <button class="bg-blue-400 text-blue-50 rounded-lg py-2 px-4 text-2xl" type="submit">Search</button>
        </form>
      </div>
    </div>
    {{!-- Holds result cards from search bar --}}
    <div class="container mx-auto px-4 flex flex-row flex-wrap text-black" id='resultsContainer'>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
<script src="/js/home.js"></script>