<div class="container mx-auto md:w-7/12 lg:w-6/12 xl:w-5/12">
  <div class="py-4">
    <h3 class="text-3xl font-medium leading-6 text-gray-900 text-center">Login Or Register</h3>
  </div>
  <div class="py-4 flex flex-col gap-2 md:flex-row">
    <div class="w-full md:w-6/12 md:px-2">

      <div>
        <h2 class="text-center form-titles p-3 rounded-t-lg shadow font-semibold text-2xl">Login</h2>
      </div>
      <form class="border border-top-0 p-3 rounded-b-lg shadow flex flex-col" action="" id='loginForm'>
        <div class="mb-4 flex flex-col gap-2">
          <label for="loginUsername" class="text-base">Username</label>
          <input type="text" class="rounded text-base border-solid border-2 p-1" id="loginUsername" placeholder="ILoveParties" autocomplete="username">
        </div>
        <div class="mb-4 flex flex-col gap-2">
          <label for="loginPassword" class="text-base">Password</label>
          <input type="password" class="rounded text-base border-solid border-2 p-1" autocomplete="current-password" id="loginPassword" placeholder="Password Here...">
        </div>
        <div class="flex flex-col gap-2">
          <input type="submit" class="text-base bg-blue-400 text-blue-50 rounded py-2 px-4 hover:bg-blue-600">
        </div>
      </form>
    </div>
    <div class="w-full md:w-6/12">
      <div>
        <h2 class="text-center form-titles p-3 rounded-t-lg shadow font-semibold text-2xl">Register</h2>
      </div>
      <form action="" id='registerFrom' class="border border-top-0 p-3 rounded-b-lg shadow flex flex-col">
        <div class="">
          <div class="mb-4 flex flex-col gap-2">
            <label for="registerEmail" class="text-base">Enter your Email Address</label>
            <input type="text" class="rounded text-base border-solid border-2 p-1" id="registerEmail" placeholder="you@example.com" autocomplete="email">
          </div>
          <div class="mb-4 flex flex-col gap-2">
            <label for="registerUsername" class="text-base">Pick a Username</label>
            <input type="text" class="rounded text-base border-solid border-2 p-1" id="registerUsername" placeholder="MyNewUsername" autocomplete="username">
          </div>
          <div class="mb-4 flex flex-col gap-2">
            <label for="registerPassword" class="text-base">Type a Password</label>
            <input type="password" class="rounded text-base border-solid border-2 p-1" id="registerPassword" placeholder="easy2remember" autocomplete="new-password">
          </div>
          <div class="flex flex-col">
            <input type="submit" class="text-base bg-blue-400 text-blue-50 rounded py-2 px-4 hover:bg-blue-600">
          </div>
        </div>

      </form>
    </div>
  </div>
  {{!-- <div class="px-16 py-6">
    <div class="flex-justify-center">
      <form action="#" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-4">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="text" name="email-address" id="email-address" autocomplete="email"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="pasword" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="text" name="password" id="password" autocomplete="password"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              </select>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Login
              </button>
            </div>
          </div>
      </form>
    </div>
  </div> --}}
</div>

<script src="/js/login.js"></script>