
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
}
:root{
  --bg-pink: #f8f6f6;
  --bg-blue: #3C91E6;
  --bg-black: #342E37;
  --bg-green: #61beba;

}

#footer{
  background-color:white;
}
.bgContact{
  background-color:#1F2937;
}
#name{
  font-size:18px;
  margin: bottom 10px;
}

user{
  font-weight: bold;
}


.reviewEmo li{
  display:inline-block;
}


.dropdown{

display:flex;
justify-content: space-around;
/* align-items: center; */
/* position:absolute; */
border-radius:5px;

}


#editBtn{
  float: right
}

/*star-saved event here */
.saved{
  color: rgb(123, 180, 233);
  float: right;
}

/*star-reviews here */
.checked {
  color: orange;
  float:center;
}


nav{
  background-color: var(--bg-pink);
}

.form-titles{
  background-color: var(--bg-blue);
  color:white;
  margin-bottom: 0;
}

.bg-green{
  background-color: var(--bg-green);
}

.bg-cus-black{
  background-color: var(--bg-black);
}

.hero-image-slides{
  height: 24rem
}

@media (min-width: 768px) { 
  
  .hero-image-slides{
    height: 36rem;
  }

}

@media (min-width: 1280px) { 
  .hero-image-slides{
    height: 48rem;
  }

}

/* ================================================================================================== */
/* ========================================= REVIEW STARS =========================================== */
/* ================================================================================================== */
.submit-btn{
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 3em;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

